body {
	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 1.5;
	margin: auto;
	height: 100vh;
	border-top: 5px solid #747369;
	box-sizing: border-box;
}
body.light {
	color: #2d2d2d;
}
body.dark {
	color: #d3d0c8;
	background: #2d2d2d;
}
h1,
h2,
h3,
h4 {
	margin: 0;
}
main {
	display: flex;
	justify-content: space-around;
	height: 100%;
	max-width: 72rem;
	margin: auto;
}
section {
	display: flex;
	flex-direction: column;
	padding: 2em;
}
input {
	padding: 0.2em;
}
.links {
	max-height: 100vh;
	overflow-y: auto;
	flex-grow: 1;
}
.search {
	display: flex;
	flex-wrap: wrap;
}
.search input {
	flex: 1 1 100%;
	margin: 1em 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul > li {
	padding: 0;
	margin: 0 0 1em 0;
}

li > p {
	margin: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
small {
	color: #747369;
}
button {
	cursor: pointer;
}
.link {
	font-weight: 500;
}
.themes {
	display: flex;
	justify-content: space-between;
	margin: 1em 0;
}
.themes button {
	border: 1px solid #747369;
	padding: 0.25em;
	flex-grow: 1;
	max-width: 45%;
}
.themes button.light {
	color: #2d2d2d;
	background: white;
}
.themes button.dark {
	color: #d3d0c8;
	background: #2d2d2d;
}
